@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@800&family=Jua&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "Baloo 2", sans-serif;
    width: 100%;
    background-color: #161e27;
}
header{
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 0;
    left: 0;
    border-bottom: 1px #2b3b4d solid;
}
header .first-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0 10px;
    width: 100%;
}
header .first-bar button{
    background-color: #161e27;
    color: #fefefd;
    border: none;
}
header .first-bar h1{
    color: #217dfa;
}
header .first-bar a{
    background-color: #161e27;
    color: #fefefd;
}
header .second-bar{
    display: flex;
    align-items: center;
    justify-content: center;
}
header .second-bar button{
    width: 50%;
    border: none;
    background-color: #161e27;
    color: #fefefd;
    padding: 10px;
}
header .second-bar button:hover{
    background-color: #217bfa1e;
    color: #217dfa;
}
header .second-bar button:focus{
    background-color: #217bfa1e;
    color: #217dfa;
}
footer{
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px #2b3b4d solid;
}
footer .footer-icon{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: 10px;
}
footer .footer-icon button{
    background-color: #161e27;
    color: #fefefd;
    border: none;
}
